.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline-block;
}

.increase-amount, .decrease-amount{
    width: 38px !important;
    margin-top: 0px !important;
}

.fa-trash-alt{
    color: #5A717D;
    font-size: 1.5rem;
    cursor: pointer;
}

.number{
    width: 60px;
    display: inline-block;
}

#template, .new-snack, .add-form {
    display: flex;
}

.controls {
    width: 250px;
    height: 38px;
    position: relative;
}

.add-buttons {
    width: 100px;
    display: inline-block;
}

.name-label{
    text-align: center;
}

.name-label, .snack-name-input {
    flex-grow: 1;
}

.name-label {
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
}

.amount-button {
    height: 38px;
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.remove-div {
    display: inline-block;
    position: relative;
    height: 38px;
}

.remove-item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.saved-alert{
    display: none;
}

.dismiss{
    float: right;
    cursor: pointer;
}

@media (max-width:768px) {
    .controls{
        width: 40%;
        display: flex;
        justify-content: flex-end;
    }
    .name-label{
        width: 60%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .sec-title{
        display: none
    }
    .name-label{
        text-align: initial;
    }
}

@media (max-width:576px) {
    .controls{
        width: 50%;
        margin-left: -5%
    }
    .name-label{
        width: 50%;
        margin-right: -5%;
        padding-right: 8%
    }
    .editor-content, .editor-container{
        padding: 0px !important;
    }
}